*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}

header {
    background: #1A2238;
    color: #eaeaea;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo {
    margin-right: auto;
    display: flex;
    gap: 6px;
}

.logo-img {
    width: 35px;
    margin-left: 10px;
}

.logo-title {
    margin-right: auto;
    cursor: pointer;
    transition: all .5s ease 0s;
}

.logo:hover {
    color: #ff6a3d;
    transform: rotate(2deg);
}

.btn-cta {
    margin-right: 10px;
    border: none;
    font-size: 20px;
    padding: 6px 12px;
    background-color: #ff6a3d;
    color: #eaeaea;
    border-radius: 8px;
    cursor: pointer;
}

nav ul{
    display: flex;
    padding: 20px;
}

li {
    padding: 10px;
}

li a {
    color: #eaeaea;
    transition: all .5s ease 0s;
    display: inline-block;
}

li a:hover {
    color: #ff6a3d;
    transform: rotate(2deg);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 70px 0;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.description {
    font-size: 28px;
    font-weight: bolder;
}

.img-foto {
    width: 100%;
    max-width: 500px;
    height: auto;
    padding: 10px;
}

.parallax {
    background-image: url('assets/image/bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.tentang {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #1a2238;
    color: #eaeaea;
    padding: 40px;
}

.mt-10 {
    margin-top: 20px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.card-item {
    text-align: center;
    width: 25%;
    background: #f7f7f7;
    color: #222;
    padding: 24px;
    box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, .5);
}

.card-title {
    font-size: 18px;
    font-weight: bolder;
}

.card-description {
    font-size: 14px;
    margin-top: 4px;
}

.icon {
    margin: 10px;
    width: 75px;
    height: 75px;
    padding: 4px;
}

footer {
    padding: 20px; 
    text-align: center;
    background: #1A2238;
    color: #eaeaea;
}

@media screen and (max-width: 500px) {
    .card {
        flex-direction: column;
        gap: 0;
    }

    .card-item {
        width: 100%;
    }

    .container {
        padding: 0;
    }

    .intro {
        margin-top: 20px;
    }

    .img-foto {
        padding: 0;
    }

    nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #1A2238;
        z-index: 9;
    }

    footer {
        margin-bottom: 70px;
    }
}